.show_bg_w{

    background-image: linear-gradient(to top, rgba(0, 238, 255, 0), rgba(117, 19, 93, 0.73));

    width: 80%;

    height: 400px;

    background-size: cover;

    color: white;

    border-radius: 15px;



}

 /* Set the container size and position */

 .image-container {

    position: relative;

    width: 100%;

    height: 100%;

    border-radius: 15px;

    overflow: hidden; /* Ensure the gradient doesn't overflow from the container */

}



/* Add the gradient overlay using ::before pseudo-element */

.image-container::before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: linear-gradient(to top, rgb(17, 219, 255) 0%, rgba(111, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);

    mix-blend-mode: overlay; /* Blend the gradient with the image using the 'overlay' blend mode */

    z-index: 1; /* Ensure the gradient is above the image */

}



/* Style the image within the container */

.image-container img {

    display: block;

    width: 100%;

    height: 100%;

    object-fit: cover; /* Ensure the image covers the entire container */

}



.image-container-2 {

    position: relative;

    width: 100%;

    height: 100%;

    overflow: hidden; /* Ensure the gradient doesn't overflow from the container */

}



/* Add the gradient overlay using ::before pseudo-element */

.image-container-2::before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(53, 53, 53, 0.5) 60%, rgba(0, 60, 255, 0) 80%);

    mix-blend-mode: overlay; /* Blend the gradient with the image using the 'overlay' blend mode */

    z-index: 1; /* Ensure the gradient is above the image */

}



/* Style the image within the container */

.image-container-2 img {

    display: block;

    width: 100%;

    height: 100%;

    object-fit: cover; /* Ensure the image covers the entire container */

}



.swiper {

    width: 100%;

    height: 100%;

}



.swiper-slide mb-3 {

    text-align: center;

    font-size: 18px;

    background: #fff;

    display: flex;

    justify-content: center;

    align-items: center;

}



.swiper-slide mb-3 img {

    display: block;

    width: 100%;

    height: 100%;

    object-fit: cover;

}



/* horizontal menu */

li{

    display: inline-block!important;

}

.default2{

    border-radius: 10px;

    padding-left: 30px;

    padding-right: 30px;

    background-image: linear-gradient(50deg, #FFC876, #FB48FF);

    border:none;

    color:white;

}



.nav-pills {

    flex-direction: row;

    flex-wrap: nowrap;

}

.responsive-scroll {

    display: flex;

    overflow-x: auto;

    scrollbar-width: thin;

    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;

}

.responsive-scroll::-webkit-scrollbar {

    height: 6px;

}

.responsive-scroll::-webkit-scrollbar-track {

    background: transparent;

}

.responsive-scroll::-webkit-scrollbar-thumb {

    background-color: rgba(155, 155, 155, 0.7);

    border-radius: 20px;

    border: transparent;

}

/* Prevents button wrapping */

.nav-pills > li {

    flex: none;

}





